<%- include("partials/header.ejs") %>

<div class="hero">
  <div class="container">
    <h1><%= kindOfDay %></h1>
  <ul>
    <% for (let i = 0; i < todos.length; i++) { %>
      <li>
        <%= todos[i].task %>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="<%= todos[i].id %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% } %>
  </ul>
  <form action="/add" method="post">
    <input type="text" name="task" placeholder="Add a task">
    <button type="submit">Add</button>
  </form>
  </div>
</div>

  <%- include("partials/footer.ejs") %>